@font-face {
	font-family: 'IcoMoon';
	src: url('./font/icomoon.eot');
	src: url('http://pelegrinodev.com/mightyadmin/css/font/icomoon_162a16fe.eot') format('embedded-opentype'),
		 url('./font/icomoon.svg') format('svg'),
		 url('./font/icomoon.woff') format('woff'),
		 url('./font/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'IcoMoon';
	font-style: normal;
}

.icon-home:before { content: "\e0cf"; }
.icon-home-2:before { content: "\e0cd"; }
.icon-home-3:before { content: "\e0cc"; }
.icon-newspaper:before { content: "\e0cb"; }
.icon-pencil:before { content: "\e0ca"; }
.icon-pencil-2:before { content: "\e0c9"; }
.icon-droplet:before { content: "\e0c8"; }
.icon-picture:before { content: "\e0c7"; }
.icon-picture-2:before { content: "\e0c6"; }
.icon-camera:before { content: "\e0c5"; }
.icon-music:before { content: "\e0c4"; }
.icon-play:before { content: "\e0c3"; }
.icon-film:before { content: "\e0c2"; }
.icon-camera-2:before { content: "\e0c1"; }
.icon-spades:before { content: "\e0c0"; }
.icon-clubs:before { content: "\e0bf"; }
.icon-diamonds:before { content: "\e0be"; }
.icon-broadcast:before { content: "\e0bd"; }
.icon-microphone:before { content: "\e0bc"; }
.icon-book:before { content: "\e0bb"; }
.icon-paper:before { content: "\e0ba"; }
.icon-paper-2:before { content: "\e0b9"; }
.icon-new:before { content: "\e0b8"; }
.icon-copy:before { content: "\e0b7"; }
.icon-folder:before { content: "\e0b6"; }
.icon-folder-2:before { content: "\e0b5"; }
.icon-tag:before { content: "\e0b4"; }
.icon-cart:before { content: "\e0b3"; }
.icon-basket:before { content: "\e0b2"; }
.icon-calculate:before { content: "\e0b1"; }
.icon-support:before { content: "\e0b0"; }
.icon-phone:before { content: "\e0af"; }
.icon-mail:before { content: "\e0ae"; }
.icon-location:before { content: "\e0ad"; }
.icon-compass:before { content: "\e0ac"; }
.icon-history:before { content: "\e0ab"; }
.icon-clock:before { content: "\e0aa"; }
.icon-bell:before { content: "\e0a9"; }
.icon-bell-2:before { content: "\e0a8"; }
.icon-bell-3:before { content: "\e0a7"; }
.icon-calendar:before { content: "\e0a6"; }
.icon-mouse:before { content: "\e0a5"; }
.icon-screen:before { content: "\e0a4"; }
.icon-laptop:before { content: "\e0a3"; }
.icon-mobile:before { content: "\e0a2"; }
.icon-tablet:before { content: "\e0a1"; }
.icon-mobile-2:before { content: "\e0a0"; }
.icon-drawer:before { content: "\e09f"; }
.icon-drawer-2:before { content: "\e09e"; }
.icon-box-add:before { content: "\e09d"; }
.icon-box-remove:before { content: "\e09c"; }
.icon-database:before { content: "\e09b"; }
.icon-undo:before { content: "\e09a"; }
.icon-redo:before { content: "\e099"; }
.icon-forward:before { content: "\e098"; }
.icon-reply:before { content: "\e097"; }
.icon-reply-2:before { content: "\e096"; }
.icon-comments:before { content: "\e095"; }
.icon-comments-2:before { content: "\e094"; }
.icon-comments-3:before { content: "\e093"; }
.icon-comments-4:before { content: "\e092"; }
.icon-comments-5:before { content: "\e091"; }
.icon-comments-6:before { content: "\e090"; }
.icon-user:before { content: "\e08f"; }
.icon-user-2:before { content: "\e08e"; }
.icon-user-3:before { content: "\e08d"; }
.icon-busy:before { content: "\e08c"; }
.icon-loading:before { content: "\e08b"; }
.icon-loading-2:before { content: "\e08a"; }
.icon-search:before { content: "\e089"; }
.icon-search-2:before { content: "\e088"; }
.icon-zoom-in:before { content: "\e087"; }
.icon-zoom-out:before { content: "\e086"; }
.icon-key:before { content: "\e085"; }
.icon-key-2:before { content: "\e084"; }
.icon-locked:before { content: "\e083"; }
.icon-unlocked:before { content: "\e082"; }
.icon-wrench:before { content: "\e081"; }
.icon-equalizer:before { content: "\e080"; }
.icon-cog:before { content: "\e07f"; }
.icon-pie:before { content: "\e07e"; }
.icon-bars:before { content: "\e07d"; }
.icon-stats-up:before { content: "\e07c"; }
.icon-gift:before { content: "\e07b"; }
.icon-trophy:before { content: "\e07a"; }
.icon-diamond:before { content: "\e079"; }
.icon-coffee:before { content: "\e078"; }
.icon-rocket:before { content: "\e077"; }
.icon-meter-slow:before { content: "\e076"; }
.icon-meter-medium:before { content: "\e075"; }
.icon-meter-fast:before { content: "\e074"; }
.icon-dashboard:before { content: "\e073"; }
.icon-fire:before { content: "\e072"; }
.icon-lab:before { content: "\e071"; }
.icon-remove:before { content: "\e070"; }
.icon-remove-2:before { content: "\e06f"; }
.icon-remove-3:before { content: "\e06e"; }
.icon-briefcase:before { content: "\e06d"; }
.icon-briefcase-2:before { content: "\e06c"; }
.icon-cars:before { content: "\e06b"; }
.icon-bus:before { content: "\e06a"; }
.icon-cube:before { content: "\e069"; }
.icon-cube-2:before { content: "\e068"; }
.icon-puzzle:before { content: "\e067"; }
.icon-glasses:before { content: "\e066"; }
.icon-glasses-2:before { content: "\e065"; }
.icon-accessibility:before { content: "\e064"; }
.icon-accessibility-2:before { content: "\e063"; }
.icon-target:before { content: "\e062"; }
.icon-target-2:before { content: "\e061"; }
.icon-lightning:before { content: "\e060"; }
.icon-power:before { content: "\e05f"; }
.icon-power-2:before { content: "\e05e"; }
.icon-clipboard:before { content: "\e05d"; }
.icon-clipboard-2:before { content: "\e05c"; }
.icon-playlist:before { content: "\e05b"; }
.icon-grid-view:before { content: "\e05a"; }
.icon-tree-view:before { content: "\e059"; }
.icon-menu:before { content: "\e058"; }
.icon-menu-2:before { content: "\e057"; }
.icon-cloud:before { content: "\e056"; }
.icon-cloud-2:before { content: "\e055"; }
.icon-download:before { content: "\e054"; }
.icon-upload:before { content: "\e053"; }
.icon-upload-2:before { content: "\e052"; }
.icon-link:before { content: "\e051"; }
.icon-link-2:before { content: "\e050"; }
.icon-flag:before { content: "\e04f"; }
.icon-flag-2:before { content: "\e04e"; }
.icon-flag-3:before { content: "\e04d"; }
.icon-eye:before { content: "\e04c"; }
.icon-eye-2:before { content: "\e04b"; }
.icon-bookmark:before { content: "\e04a"; }
.icon-bookmark-2:before { content: "\e049"; }
.icon-star:before { content: "\e048"; }
.icon-star-2:before { content: "\e047"; }
.icon-star-3:before { content: "\e046"; }
.icon-heart:before { content: "\e045"; }
.icon-heart-2:before { content: "\e044"; }
.icon-thumbs-up:before { content: "\e043"; }
.icon-thumbs-down:before { content: "\e042"; }
.icon-happy:before { content: "\e041"; }
.icon-smiley:before { content: "\e040"; }
.icon-neutral:before { content: "\e03f"; }
.icon-plus:before { content: "\e03e"; }
.icon-minus:before { content: "\e03d"; }
.icon-help:before { content: "\e03c"; }
.icon-help-2:before { content: "\e03b"; }
.icon-info:before { content: "\e03a"; }
.icon-blocked:before { content: "\e039"; }
.icon-cancel:before { content: "\e038"; }
.icon-cancel-2:before { content: "\e037"; }
.icon-cancel-3:before { content: "\e036"; }
.icon-checkmark:before { content: "\e035"; }
.icon-minus-2:before { content: "\e034"; }
.icon-plus-2:before { content: "\e033"; }
.icon-enter:before { content: "\e032"; }
.icon-exit:before { content: "\e031"; }
.icon-loop:before { content: "\e030"; }
.icon-arrow-up:before { content: "\e02f"; }
.icon-arrow-right:before { content: "\e02e"; }
.icon-arrow-down:before { content: "\e02d"; }
.icon-arrow-left:before { content: "\e02c"; }
.icon-arrow-up-left:before { content: "\e02b"; }
.icon-arrow-up-2:before { content: "\e02a"; }
.icon-arrow-up-right:before { content: "\e029"; }
.icon-arrow-right-2:before { content: "\e028"; }
.icon-arrow-down-right:before { content: "\e027"; }
.icon-arrow-down-2:before { content: "\e026"; }
.icon-arrow-down-left:before { content: "\e025"; }
.icon-arrow-left-2:before { content: "\e024"; }
.icon-arrow-up-left-2:before { content: "\e023"; }
.icon-arrow-up-3:before { content: "\e022"; }
.icon-arrow-up-right-2:before { content: "\e021"; }
.icon-arrow-right-3:before { content: "\e020"; }
.icon-arrow-down-right-2:before { content: "\e01f"; }
.icon-arrow-down-3:before { content: "\e01e"; }
.icon-arrow-down-left-2:before { content: "\e01d"; }
.icon-arrow-left-3:before { content: "\e01c"; }
.icon-arrow-up-left-3:before { content: "\e01b"; }
.icon-arrow-up-4:before { content: "\e01a"; }
.icon-arrow-up-right-3:before { content: "\e019"; }
.icon-arrow-right-4:before { content: "\e018"; }
.icon-arrow-down-right-3:before { content: "\e017"; }
.icon-arrow-down-4:before { content: "\e016"; }
.icon-arrow-down-left-3:before { content: "\e015"; }
.icon-arrow-left-4:before { content: "\e014"; }
.icon-arrow-up-5:before { content: "\e013"; }
.icon-arrow-right-5:before { content: "\e012"; }
.icon-arrow-down-5:before { content: "\e011"; }
.icon-arrow-left-5:before { content: "\e010"; }
.icon-arrow-up-6:before { content: "\e00f"; }
.icon-arrow-right-6:before { content: "\e00e"; }
.icon-arrow-down-6:before { content: "\e00d"; }
.icon-arrow-left-6:before { content: "\e00c"; }
.icon-arrow-up-7:before { content: "\e00b"; }
.icon-arrow-right-7:before { content: "\e00a"; }
.icon-arrow-down-7:before { content: "\e009"; }
.icon-arrow-left-7:before { content: "\e008"; }
.icon-menu-3:before { content: "\e007"; }
.icon-enter-2:before { content: "\e006"; }
.icon-backspace:before { content: "\e005"; }
.icon-backspace-2:before { content: "\e004"; }
.icon-tab:before { content: "\e003"; }
.icon-tab-2:before { content: "\e002"; }
.icon-checkbox:before { content: "\e001"; }
.icon-checkbox-unchecked:before { content: "\e000"; }
.icon-checkbox-partial:before { content: "\007d"; }
.icon-radio-checked:before { content: "\007c"; }
.icon-radio-unchecked:before { content: "\007b"; }
.icon-font:before { content: "\007a"; }
.icon-paragraph-left:before { content: "\0079"; }
.icon-paragraph-center:before { content: "\0078"; }
.icon-paragraph-right:before { content: "\0077"; }
.icon-left-to-right:before { content: "\0076"; }
.icon-right-to-left:before { content: "\0075"; }
.icon-out:before { content: "\0074"; }
.icon-out-2:before { content: "\0073"; }
.icon-embed:before { content: "\0072"; }
.icon-seven-segment:before { content: "\0071"; }
.icon-seven-segment-2:before { content: "\0070"; }
.icon-seven-segment-3:before { content: "\006f"; }
.icon-seven-segment-4:before { content: "\006e"; }
.icon-seven-segment-5:before { content: "\006d"; }
.icon-seven-segment-6:before { content: "\006c"; }
.icon-seven-segment-7:before { content: "\006b"; }
.icon-seven-segment-8:before { content: "\006a"; }
.icon-seven-segment-9:before { content: "\0069"; }
.icon-seven-segment-10:before { content: "\0068"; }
.icon-bluetooth:before { content: "\0067"; }
.icon-share:before { content: "\0066"; }
.icon-share-2:before { content: "\0065"; }
.icon-mail-2:before { content: "\0064"; }
.icon-google-plus:before { content: "\0063"; }
.icon-google-plus-2:before { content: "\0062"; }
.icon-google-plus-3:before { content: "\0061"; }
.icon-facebook:before { content: "\0060"; }
.icon-facebook-2:before { content: "\005f"; }
.icon-twitter:before { content: "\005e"; }
.icon-twitter-2:before { content: "\005d"; }
.icon-twitter-3:before { content: "\005c"; }
.icon-twitter-4:before { content: "\005b"; }
.icon-feed:before { content: "\005a"; }
.icon-feed-2:before { content: "\0059"; }
.icon-youtube:before { content: "\0058"; }
.icon-youtube-2:before { content: "\0057"; }
.icon-vimeo:before { content: "\0056"; }
.icon-vimeo-2:before { content: "\0055"; }
.icon-flickr:before { content: "\0054"; }
.icon-flickr-2:before { content: "\0053"; }
.icon-picassa:before { content: "\0052"; }
.icon-picassa-2:before { content: "\0051"; }
.icon-dribbble:before { content: "\0050"; }
.icon-dribbble-2:before { content: "\004f"; }
.icon-forrst:before { content: "\004e"; }
.icon-forrst-2:before { content: "\004d"; }
.icon-deviantart:before { content: "\004c"; }
.icon-deviantart-2:before { content: "\004b"; }
.icon-github:before { content: "\004a"; }
.icon-github-2:before { content: "\0049"; }
.icon-github-3:before { content: "\0048"; }
.icon-github-4:before { content: "\0047"; }
.icon-wordpress:before { content: "\0046"; }
.icon-wordpress-2:before { content: "\0045"; }
.icon-blogger:before { content: "\0044"; }
.icon-blogger-2:before { content: "\0043"; }
.icon-tumblr:before { content: "\0042"; }
.icon-tumblr-2:before { content: "\0041"; }
.icon-yahoo:before { content: "\0040"; }
.icon-yahoo-2:before { content: "\003f"; }
.icon-amazon:before { content: "\003e"; }
.icon-amazon-2:before { content: "\003d"; }
.icon-apple:before { content: "\003c"; }
.icon-android:before { content: "\003b"; }
.icon-windows:before { content: "\003a"; }
.icon-soundcloud:before { content: "\0039"; }
.icon-soundcloud-2:before { content: "\0038"; }
.icon-skype:before { content: "\0037"; }
.icon-reddit:before { content: "\0036"; }
.icon-linkedin:before { content: "\0035"; }
.icon-lastfm:before { content: "\0034"; }
.icon-lastfm-2:before { content: "\0033"; }
.icon-delicious:before { content: "\0032"; }
.icon-stumbleupon:before { content: "\0031"; }
.icon-stumbleupon-2:before { content: "\0030"; }
.icon-pinterest:before { content: "\002f"; }
.icon-pinterest-2:before { content: "\002e"; }
.icon-xing:before { content: "\002d"; }
.icon-libreoffice:before { content: "\002c"; }
.icon-file-pdf:before { content: "\002b"; }
.icon-file-openoffice:before { content: "\002a"; }
.icon-file-word:before { content: "\0029"; }
.icon-file-excel:before { content: "\0028"; }
.icon-file-powerpoint:before { content: "\0027"; }
.icon-file-xml:before { content: "\0026"; }
.icon-file-css:before { content: "\0025"; }
.icon-html5:before { content: "\0024"; }
.icon-html5-2:before { content: "\0023"; }
.icon-css3:before { content: "\0022"; }
.icon-IcoMoon:before { content: "\0021"; }
